@media (min-width: 701px) {
    body {
        .container-bg {
            background-image: url(/images/bg-pattern-top-desktop.svg), url(/images/bg-pattern-bottom-desktop.svg);
            background-repeat: no-repeat, no-repeat;
            background-position: top left, bottom right;

            .container {
                padding: 2rem;
                .container-top {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    padding-top: 5rem;
                    padding-left: 9rem;
                    padding-right: 9rem;


                .header-title {
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    text-align: left;
                }


                .header-subtitle {
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    text-align: left;
                    max-width: 21rem;
                }

                .rating-1 {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    width: 24rem;
                    gap: 1.5rem;
                    margin-right: 11rem;
                    padding-left: 1.2rem;
                    padding-right: 3rem;
                }

                .rating-2 {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    width: 22rem;
                    gap: 1.5rem;
                    margin-right: 5rem;
                }

                .rating-3 {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    width: 22rem;
                    gap: 1.5rem;
                }
            }

                    .star-rating {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        gap: 0.5rem;
                    }

            .container-bottom {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding-top: 2rem;
                padding-bottom: 1rem;
                padding-left: 9rem;
                padding-right: 9rem;

                .testimonial-1 {
                    margin-top: 0;
                    min-width: 350px;
                    max-width: 350px;
                }
                .testimonial-2 {
                    margin-top: 1rem;
                    min-width: 320px;
                    max-width: 350px;
                }

                .testimonial-3 {
                    max-width: 350px;
                    min-width: 340px;
                    margin-top: 2rem;
                }
            }
        }
    }
    }
    }
